body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Hide overflow to prevent scrollbars */
}

/* Header styles */
header {
    background-color: #e8ebcfa1;
    color: #fff;
    padding: 70px;
}

.headerIMG {
    background-image: url(https://www.shutterstock.com/image-photo/closeup-mint-green-transparent-clear-260nw-1811491675.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
}


/* Main content styles */
main {
    padding: 20px;

}


h1{

    text-align:center;
    font-size: 100px;
    letter-spacing: 30px;
    

}

li {
    float: left;
    margin-right: 20px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



/* Style for the menu bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #becaa5;
    overflow: hidden;
    
}

li {
    display: inline-block; /* Change from float to inline-block */
    margin-right:127.5px; /* Add spacing between menu items */
}

ul li a:hover {
    color: #b93838;
    background-color: #ffffff;
}

 

  
  .button:hover {
    background-color: #0056b3;
  }



.body-text {
    padding-left: 12em;
    padding-top: 80px;
    padding-right: 12em;
    text-align: justify;

    color: #b93838;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevents scrollbars */
}


.image-container {
    width: 300px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
}

.image-container img {
    width: 75%;
    height: 75%;
    object-fit: cover; /* Adjust the object-fit property as needed */

}

.image-container img.slow-gif {
    animation: slow-gif 10s infinite; /* Change 5s to the duration you want */
}

@keyframes slow-gif {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}



#welcome-message{
    color: #b93838;
    text-align: center;
    font-size: 40px;
    letter-spacing: 8px;
    font-family: Arial, sans-serif
    
    
    
}


